@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'mantousans';
  src: local('mantousans'), format('truetype'), url('./assets/fonts/MantouSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .text-gradient-color {
    background-image: linear-gradient(to right,#E5793B,#FF4185);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }

  .bg-gradient-color {
    background-image: linear-gradient(to right,#E5793B,#FF4185);
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
    display: flex;
  }
  
  .marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
  
  .marquee-content2 {
    display: inline-block;
    white-space: nowrap;
    animation: marquee2 20s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}